# Bu dosyayi .env.local olarak kopyalayin
# Bu degerleri Vercel env vars olarak otomatik ayarlanir.
NEXT_PUBLIC_SUPABASE_URL=https://xoqwwlkglnzrnjrcpryz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhvcXd3bGtnbG56cm5qcmNwcnl6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyNTYzMTIsImV4cCI6MjA4OTgzMjMxMn0.oK9E-WZMonEcQLsh4aLmYe9oXNbqNQstu7buS3AO9Rc
STORE_ID=c80f2336-efd4-4ebb-8785-bea7ef01afe9
STORE_SLUG=inegol-mobilya
